<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cell47.rento">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rento"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rento"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity" />
        <activity android:name=".Comment" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".Phone_Auth" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".UploadPicture" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_VCxyvq1oZzG8Kh" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/AppId"/>

        <activity android:name=".AdUploaded" />
        <activity android:name=".BookNow" />
        <activity android:name=".PublishedAds" />
        <activity android:name=".ContactDetails" />
        <activity android:name=".UserProfile" />
        <activity android:name=".BookingSelection" />
        <activity android:name=".SavedAds" />
        <activity android:name=".AllListedCities" />
        <activity android:name=".TermsAndConditions" />
        <activity android:name=".RoomImages"></activity>
    </application>

</manifest>